@media only screen and (min-width: 681px) {
  .hashtagview {
    min-height: 100vh;
    width: 550px;
    margin: 0 auto;
    border-left: 1px solid #3b4353;
    border-right: 1px solid #3b4353;
  }
}
@media only screen and (max-width: 680px) {
  .hashtagview {
    min-height: 100vh;
    width: calc(100% - 66px);
    margin-left: 65px;
    border-left: 1px solid #3b4353;
  }
}
.hashtagview-wrapper {
  min-height: calc(100vh);
  background-color: #222831;
  color: white;
}
.hashtagview > h1 {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #3b4353;
}
/** Mobile CSS */
.hashtagview-wrapper-mobile {
  min-height: calc(100vh);
  background-color: #222831;
  color: white;
}
.hashtagview-mobile {
  min-height: 100vh;
  padding-bottom: 55px;
}
.hashtagview-mobile > h1 {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #3b4353;
}
