@media only screen and (min-width: 600px) {
  .home {
    width: 500px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 599px) {
  .home {
    width: 90%;
    margin: 0 auto;
  }
}
.home-wrapper {
  min-height: calc(100vh - 80px);
  background-color: #222831;
  color: white;
  padding: 60px 0 20px 0;
}
.home > h1 {
  margin-top: 0;
}
.posts-nav {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  margin-bottom: 10px;
}
.posts-nav-following {
  text-align: center;
  width: 50%;
  cursor: pointer;
  opacity: 1;
  transition: background-color 0.2s ease;
}
.posts-nav-all {
  text-align: center;
  width: 50%;
  cursor: pointer;
  opacity: 1;
  transition: background-color 0.2s ease;
}
.posts-nav-following:hover {
  background-color: rgba(0, 173, 181, 0.5);
}
.posts-nav-all:hover {
  background-color: rgba(0, 173, 181, 0.5);
}
.posts-nav-following.active {
  text-align: center;
  width: 50%;
  border-bottom: 2px solid #00adb5;
}
.posts-nav-all.active {
  text-align: center;
  width: 50%;
  border-bottom: 2px solid #00adb5;
}
