.navbar-wrapper {
  background-color: #2d323f;
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  color: white;
}
.nav-left {
  margin-left: 100px;
  cursor: pointer;
}
.nav-right {
  margin-right: 100px;
  cursor: pointer;
}
