.navbar-wrapper {
  position: fixed;
  background-color: #222831;
  height: 100%;
  width: calc(50% - 276px);
  min-width: 65px;
  z-index: 2;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.nav-top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
}
.nav-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
}
.nav-top > .navlink {
  margin-top: 50px;
  cursor: pointer;
}
.navlink {
  color: white;
}
.activeNavlink {
  color: #00adb5;
}
.button {
  cursor: pointer;
}
@media only screen and (min-width: 600px) {
  .navbar {
    max-width: 1000px;
    color: white;
  }
}
@media only screen and (max-width: 599px) {
  .navbar {
    max-width: 1000px;
    color: white;
  }
}
/** Mobile CSS */
.navbar-wrapper-mobile {
  position: fixed;
  bottom: 0;
  background-color: #222831;
  width: 100%;
  z-index: 2;
  border-top: 1px solid #3b4353;
}
.navbar-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav-left {
  display: flex;
  align-items: flex-end;
  padding: 8px 0 8px 40px;
}
.nav-right {
  display: flex;
  align-items: flex-end;
  padding: 8px 40px 8px 0;
}
