.navbar-wrapper {
  position: fixed;
  background-color: #222831;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100px;
  z-index: 1;
}
.nav-left {
  padding: 10px;
  cursor: pointer;
}
.nav-right {
  padding: 10px;
  cursor: pointer;
}
.navlink {
  color: white;
}
.activeNavlink {
  color: #00adb5;
}
@media only screen and (min-width: 600px) {
  .navbar {
    max-width: 1000px;
    color: white;
  }
}
@media only screen and (max-width: 599px) {
  .navbar {
    max-width: 1000px;
    color: white;
  }
}
