.postform {
  position: relative;
}
.postform-items {
  display: flex;
  margin-bottom: 20px;
}
.postform-right {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}
.postform-right-content {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.actions {
  width: 100%;
  margin-top: 10px;
}
.user-image {
  margin-right: 5px;
}
.user-image > img {
  display: block;
  border-radius: 50%;
}
