.post {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px lightgrey;
}
.post-left {
  display: flex;
  padding: 20px;
}
.post-right {
  display: flex;
  align-items: flex-start;
  padding: 10px;
}
.likes-num {
  margin-top: 11px;
  font-size: 14px;
}
.post-user-image {
  margin-right: 10px;
}
.post-user-image:hover {
  background-color: white;
  margin-right: 10px;
}
.post-user {
  font-weight: bold;
  margin-top: 0;
}
.post-content {
  margin-bottom: 0;
}
.userlink {
  text-decoration: none;
  color: black;
}
.userlink:hover {
  text-decoration: underline;
}
.userimglink {
  position: relative;
  display: block;
  border-radius: 50%;
}
.userimglink > img {
  display: block;
  border-radius: 50%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease;
  background-color: lightgray;
}
.userimglink:hover .overlay {
  opacity: 0.2;
}
.like-button {
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-name: wave;
  animation-fill-mode: forwards;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-13deg);
  }
  20% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
